@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Color Paletts with https://www.colorpalett.es/ */
  /* --color-primary-50: oklch(91.45% 0.023 264); */

  --color-background: var(--background);
  --color-marged-background: var(--margined-background);
  --color-input-focus-background: var(--input-focus-background);
  --color-border: var(--border);
  --color-text: var(--text);
  --color-muted: var(--muted);

  --animate-moving-bg: moving-bg 15s ease infinite,
    pulse-bg 12s ease-in-out infinite, rotate-bg 30s linear infinite;

  @keyframes moving-bg {
    0% {
      background-position: 0% 30%;
    }
    20% {
      background-position: 80% 70%;
    }
    40% {
      background-position: 40% 0%;
    }
    60% {
      background-position: 100% 20%;
    }
    80% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes pulse-bg {
    0%,
    100% {
      background-color: hsl(var(--background-hsl) / 1);
    }
    40% {
      background-color: hsl(var(--background-hsl) / 0.6);
    }
    70% {
      background-color: hsl(var(--background-hsl) / 0.8);
    }
  }
}

@layer base {
  :root {
    --background: #fff;
    --margined-background: #fff;
    --input-focus-background: #fff;
    --foreground: #000;
    --border: #000;
    --text: #000;
    --muted: #4444447b;
    --background-hsl: 100% 100% 100%;
    --background-from: #7f7f7f;
    --background-via: #ffffff;
    --background-to: #7f7f7f;
  }

  [data-theme="dark"] {
    --background: #000;
    --margined-background: #000;
    --input-focus-background: #000;
    --foreground: #fff;
    --border: #fff;
    --text: #fff;
    --muted: #bbbbbb7b;
    --background-hsl: 0% 0% 0%;
    --background-hsl: 100% 100% 100%;
    --background-from: #222;
    --background-via: #000;
    --background-to: #666;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.text-black-white {
  color: var(--color-text);
  -webkit-text-stroke: 5px var(--color-background);
  paint-order: stroke fill;
}

.text-white-black {
  color: var(--color-background);
  -webkit-text-stroke: 5px var(--color-text);
  paint-order: stroke fill;
}
